.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("https://clipartsgram.com/image/781398976-banner-background-designs-photoshop-34.jpg");
  height: 110px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Dynalight';
  font-weight: bold;
  font-size: 1.5em;
  color:#3CBC8D;
  

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body{
  background-image: url("https://wallpapertag.com/wallpaper/full/6/b/1/327298-color-background-1920x1080-for-android-40.jpg");
}

.App-form{
  background-color: #3CBC8D;
  margin : 0px auto;
  border-radius: 25px;
  width: 300px;
  padding: 20px;
}

#fn, #ln, #dob, #a1, #a2, #pc, #eid, #pn{
  font-family:'Sofia';
  font-weight: bold;
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


#dob{
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#statedd, #citydd{
  width:100%;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.sub-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.ReactTable{
  font-family: fantasy;
  background: #ccc;
  
}

.HeaderName{
  color:blue;
}

.rt-resizable-header-content {
  color:red !important;
}

.rt-th {
  color:blue;
}
